<template>
<el-container>
  <el-aside width="200px;">
        <Menu></Menu>
  </el-aside>
  <el-main>
    <el-table
      :data="case_list"
      stripe
      border
      style="min-width: 100%;min-height: 100%;overflow: auto">
      <el-table-column
        fixed
        prop="id"
        label="ID"
        width="150">
      </el-table-column>
      <el-table-column
        prop="name"
        label="名称"
        width="120">
      </el-table-column>
      <el-table-column
        prop="creater"
        label="创建人"
        width="120">
      </el-table-column>
      <el-table-column
        fixed
        prop="create_time"
        label="创建时间"
        width="150">
      </el-table-column>
      <el-table-column
        prop="des"
        label="备注"
        width="120">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
          <el-button type="text" size="small">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-main>
</el-container>
</template>

<script>
import axios from "axios"
import Menu from "@/components/Menu";
export default {
    name: "Case_list",
    data() {
      return {
        case_list:[],
      }
    },
    methods: {
      handleClick(row) {
        console.log(row);
      }
    },
  mounted:function () {
      axios.get('/get_case/').then(
          res=>{
            this.case_list=res.data;
          }
      )
  }
}
</script>

<style scoped>

</style>