<template>
  <div class="home">
    <Menu></Menu>

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Menu from "../components/Menu";

export default {
  name: 'home',
  components: {
    Menu
  }
}
</script>
